<!DOCTYPE html>
<html lang="en">
  <head>
		<% include partials/head %>
  </head>
  <body class="container">
    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron text-center">
            <h1>Welcome</h1>
            <p><img class="rounded mx-auto d-block" src="images/John.png"/></p>
            <p>Hello, welcome to my website, my name is John Aitken, I am a Scottish Mark Master
Mason, a member of Lodge Polmont No793 in Stirlingshire. I have been collecting mark
tokens for over 40 years. I now have a substantial collection, mostly of Scottish tokens but
with a good number from different constitutions worldwide. I have recently started
collecting jewels as well, but faced with the enormous variety I am now trying to
concentrate on Scottish jewels in the hope that I can keep them in Scotland. The items in
my collection are not for sale – they are mine and will remain in my collection. I
occasionally find duplicates which I prefer to swap although I will sell them if I am asked
by a brother who has nothing for swapping.
The dropdown menu labelled tokens will take you to the pictures of my items. Please sign
my guestbook and add your e-mail address which is not visible to anyone but me. Any
comments and suggestions are always welcome.</p>
        <p class="signature">John Aitken</p>
        </div>
    </main>


	
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
