<!DOCTYPE html>
<html lang="en">
  <head>
		<% include partials/head %>
  </head>
  <body class="container">
    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="jumbotron text-center">
            <h1>Welcome</h1>
            <p><img class="rounded mx-auto d-block" src="images/me.gif"/></p>
            <p>Hi, my name is John Aitken. I am a Scottish Freemason and collect Masonic tokens. I have a large collection of over 800 Scottish tokens and some from other countries. I have posted the lists for each country I have and these can be accessed by clicking on the token keystone. I am a member of the Mark Token Collectors Club (M.T.C.C.). I will buy, sell, or preferably, swap tokens. I have included my e-mail address below for any enquiries about tokens you or I have.  I have included images of my tokens for you to look at on the site, I am constantly updating the site with new acquisitions. The blue highlights are the links to the available photographs.</p>
        </div>
    </main>


	
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
