<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script type="text/javascript">
    function recaptcha_callback() {
      document.getElementById("guestCommentForm").submit();
    }
  </script>

  <% include partials/head %>
</head>

<body class="container">
  <header>
    <% include partials/header %>
  </header>
  <br/><br/>
  <ul class="list">
    <li><a href="http://www.squaremen.com/">Ye Corporation o’ Squaremen</a></li>

    <li><a href="http://www.ra116.co.uk/">Lodge Rutherglen Royal Arch No.116</a></li>

    <li><a href="http://www.lodgelordbruce.co.uk/">Lodge  Lord Bruce No 1601</a></li>

    <li><a href="http://www.lodgescotia178.co.uk/">Lodge Scotia No.178</a></li>

    <li><a href="http://www.pgls.co.uk/Daughter%20Lodges/pgl0771.htm">Lodge St Servanus No.771</a></li>
  </ul>
  <footer>
    <% include partials/footer %>
  </footer>
</body>

</html>