body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {  
  font-family: 'Helvetica';
  font-weight: 300;
  line-height: 2;  
  text-align: center;
}

img:before {  
  content: "We're sorry, the image below is broken :(";
  display: block;
  margin-bottom: 10px;
}

img:after {  
  content: "(url: " attr(src) ")";
  display: block;
  font-size: 12px;
}

.bg-navbar{
  background-color: rgb(0, 180, 255);
}

.nav-item{
  font-size: 1.5em;
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    height: 400px;
}

.signature{
  font-family: 'Caveat', cursive;
  font-size: xx-large;
}